img{
    max-width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table input {
    margin-right: 18px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
table td,th{
    padding: 22px 18px;
    text-align: left;
}
table th{
    background-color: #EFF0F3;
}
table th:first-child {
    border-top-left-radius: 8px;
}
table th:last-child {
    border-top-right-radius: 8px;
}
table tr td{
    border-bottom: 1px solid #ccc;
}
table td i{
    margin-right: 12px;
    width: 18px;
}